

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;

}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 80px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    flex-wrap: wrap;
}

.hero-image img {
    width: 100%;
    height: 250px;
    margin-left: 40px;
    object-fit: cover;
    padding: 30px;
    border: 30px;
    padding: 30px;
}

.hero h1{
    font-family: "Homemade Apple," cursive;
}
 
.services{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left:20px;
}

.services{
width: 100%;
background-color: green;
align-items: center;
justify-content: center;
border-radius: 20px;
padding: 30px;
display: flex;
color: white;
flex-direction: column;
}

.services-text{
    font-family: "Homemade Apple", cursive;
    display: inline;
}
.services-text h1{
    font-size: 50px;
}
.services-text{
    font-size: 30px;
}

@media(max-width:767px){
    .hero-image img{
        width:100%;
        height: auto;
        border-radius: 0px;
        border: none;
    }
}