

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif; ;
    
    
}

.nav-links { 
    display: flex;
    font-size: 22px;
    background-color:cornsilk;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.nav-log image img{
    width: 100%;
    height: 250px;
}


.hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
}

.hero-text{
    width: 100%;
    
}
.hero-text h1{
    font-size: 40px;

}
.hero-text p{
    font-size: 15px;
    background-color: white;
}
.hero-text h3{
    font-size:20px ;
    background-color: blue;

}

.services{
    display: flex;
    font-size: 22px;
    background-color:cornsilk;
    gap: 20px;
    margin-left:auto;
    align-items: center;
    justify-content: center;
}

.services-text{
    width: 100%;
}

.services-texth2{
    font: size 20px;
}

.services-textp{
    font-size: 10px;
}

.services-texth2{
    font-size:20px ;
    
}
.services-textp{
    font-size: 20px;
}
.services-texth2{
    font-size: 20px;
    
}
.services-textp{
    font-size: 10px;
}
.Aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    /*flex-wrap: wrap;*/
    border-radius: 30px;
    
}

.Aboutus-image img{
    width: 600px;
    height:600px;
    padding: 20px;
    object-fit: cover;
    margin-left:auto;
    gap: 20px;
}

.Aboutus-text {
    width: 100%;
}
.Aboutus-text h1{
    font-size: 30px;
    }

.Aboutus-text p{
    font-size: 20px;
}

.clients-text{
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 20px;
    background-color: gray;
    gap:10px;
    border-radius: 10px;
    margin-left: auto;
    flex-direction: column;
    
}
.clients-text{
    width: 100%;
}

.clients-text h1{
 font-size: 30px;


}
.clients-text p{
    font-size: 20px;
    
}

.contact-text{
    width: 100%;
}
.contact-text{
    font-size:20px ;
}

.link-icons{
    width: 100%;
}

.links{
    
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left:auto;
  gap: 2px;
  padding: 20px;
  
}
.links-icons{
    width: 100px;
}
.links-icons p{
    font-size: 20px;
}

