

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif; ;
    
    
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    color: white;
    object-fit: cover;
    border-radius: 20px;
    margin-left: auto;
    flex-wrap: wrap;
}

.hero-text{
    width: 100%;
}
.hero-text h1{
    font-size: 40px;

}
.hero-text p{
    font-size: 20px;
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    padding: 20px;
    gap: 20;
    
    border-radius: 20px;
}

.services-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;

}